@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  max-height: 100vh;
  overflow: auto;
  background-color: #fba91d;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #fba91d;
  color: #353c51;
}

.app .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fba91d;
  color: #353c51;
  position: fixed;
  top: 0;
  width: 100%; 
}

.header h1 {
  text-align: center;
  width: 100%;
}

body .dark-mode {
  background-color: #353c51;
  color: #fba91d;
}

body .dark-mode .header {
  background-color: #353c51;
  color: #fba91d;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #fba91d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tasks {
  display: flex;
  justify-content: space-around;
}

.DailyTasks, .WeeklyTasks, .MonthlyTasks {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 20px;
  margin: 40px;
  height: auto; 
  max-width: 100%; 
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
  white-space: normal;
}

.task-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.task-text {
  width: 100%;
  word-break: break-word;
}

/* Estilos para pantallas grandes (21 pulgadas y más) */
@media screen and (max-width: 1921px) {
  .DailyTasks, .WeeklyTasks, .MonthlyTasks {
    width: 500px;
  }
}

/* Estilos para pantallas de laptop (13 a 15 pulgadas) */
@media screen and (max-width: 1920px) {
  .DailyTasks, .WeeklyTasks, .MonthlyTasks {
    width: 80%;
  }
}

/* Estilos para iPads */
@media screen and (max-width: 1440px) {
  .DailyTasks, .WeeklyTasks, .MonthlyTasks {
    width: 90%;
  }
}

/* Estilos para móviles */
@media screen and (max-width: 1024px) {
  .DailyTasks, .WeeklyTasks, .MonthlyTasks {
    width: 100%;
  }
}